body.wait {
    cursor: wait;
}

.title
{
	z-index: 1;
	padding-left: 15px;
}

.pdb-viewer
{
	position: absolute;
	z-index: -1;
	top: 52px;
	bottom: 0px;
	width: 100%;
}

.b-factor .panel-heading {
	cursor: move;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}