.residue
{
	font-family: monospace;
	font-size: small;
	display: inline-block;	
}

.beta-strand
{
	background-color: rgb(51,204,51);
}

.helix
{
	background-color: rgb(153,153,229);
}

.turn
{
	background-color: rgb(204,204,204);
}

.title
{
	z-index: 1;
	padding-left: 15px;
}

#pdb-viewer
{
	position: absolute;
	z-index: -1;
	top: 52px;
	bottom: 0px;
	width: 100%;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#structure-text
{
	text-align: center;
}

#structure-controller
{
	padding-top: 15px;
	text-align: center;
}