<!doctype html>
<head>
	<title>DEbrief</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script	src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="static/utils.js"></script>
	<script>
		$(document).ready(function()
		{
			$("#result-panel").hide();
			
			$("#form").submit(function()
			{
				$("#result-panel").hide();
				event.preventDefault();
				
				$.get("/result/" + $("#result_id").val(), function(data)
				{
					json = JSON.parse(data)
					$("#result").html("<pre>" + JSON.stringify(json, null, ' ') + "</pre>")
					$("#result-panel").show();
				});
			});
		});
	</script>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://www.synbiochem.co.uk">
					<span><img alt="Brand" src="static/favicon.ico"></span>
					DEbrief
				</a>
			</div>
		</div>
	</nav>

	<!-- Submission form -->
	<div class="container">
		<form id="form" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="result_id">Result id:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="result_id"
						name="result_id" placeholder="Enter result id">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Temporary results panel. -->
	<div class="container">
		<div id="result-panel" class="panel panel-default">
	  		<div class="panel-heading">Result</div>
	  		<div id="result" class="panel-body"></div>
		</div>
	</div>
	
	<!-- Modal -->
	<div id="error-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		        	<h4 class="modal-title">Error</h4>
		      	</div>
		      	<div class="modal-body">
		      		<div id="error-modal-content"></div>
		     	</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>