<!doctype html>
<head>
	<title>DEbrief</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="static/bio-pv.min.js"></script>
	<script>
		$(document).ready(function()
		{	
			// Initialise structure viewer:
			var options = {
				width: 'auto',
				height: 'auto',
				antialias: true,
				quality: 'medium'
			};
			
			var viewer = pv.Viewer(document.getElementById('structure-viewer'), options);
			viewer.fitParent();
			
			window.onresize = function(event)
			{
				viewer.fitParent();
			}
			
			// Form submission:
			$("#search").submit(function()
			{
				event.preventDefault();
				
				$.get("/result/" + $("#search_term").val(), function(data)
				{
					json = JSON.parse(data)
					
					if(json["Sequence"].length > 0)
					{
						$("#sequence-viewer").html("<pre>" + json["Sequence"] + "</pre>")
						$("#sequence-panel").show();
					}
					
					if(json["Cross-reference (PDB)"].length > 0)
					{
						pdb = json["Cross-reference (PDB)"][0]
						
						pv.io.fetchPdb('http://files.rcsb.org/download/' + json["Cross-reference (PDB)"][0] + '.pdb', function(structure)
						{
							viewer.clear();
							viewer.cartoon('protein', structure, {color: color.bySS()});
							viewer.centerOn(structure);
						});
					}
				});
			});
		});
	</script>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://www.synbiochem.co.uk">
					<span><img alt="Brand" src="static/favicon.ico"></span>
					DEbrief
				</a>
			</div>
			<form id="search" class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input id="search_term" type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
		</div>
	</nav>
	  
	<!-- Sequence panel. -->
	<div class="col-md-6">
		<div id="sequence-panel" class="panel panel-default">
	  		<div class="panel-heading">Sequences</div>
	  		<div id="sequence-viewer" class="result-panel panel-body"></div>
		</div>
	</div>
	
	<!-- Structure panel. -->
	<div class="col-md-6">
		<div id="structure-panel" class="panel panel-default">
		  <div class="panel-heading">Structure</div>
		  <div id="structure-viewer" class="result-panel panel-body"></div>
		</div>
	</div>
</body>